<launch>
  <!-- Argument to specify the robot model -->
  <arg name="model" default="robot" />

  <!-- Load the robot description parameter -->
  <param name="robot_description" textfile="$(find Ball_robot)/urdf/Ball_robot.urdf" />

  <!-- Joint State Publisher GUI -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find Ball_robot)/config/urdf.rviz" />

  <!-- Gazebo Launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find assessment_world)/worlds/assessment.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find Ball_robot)/urdf/Ball_robot.urdf -urdf -model $(arg model)" />

  <!-- Static transform to align Gazebo and RViz frames -->
  <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link base_footprint 40" />

</launch>
